# Build directories
obj/

#binarie
webserv

# VS Code
.vscode/

# CLion / JetBrains
.idea/

# Valgrind
vgcore.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# Temporary files
*~
*.swp
*.swo
*.tmp

# Logs
*.log

# macOS
.DS_Store

# Core dumps
core
core.*

# log tester
test_results.json

# Python cache
__pycache__/

# test 42
YoupiBanane/*
